header {
    background-color: aqua;
}

h1 {
    text-align: center;
}

#inicioSesion {
    text-align: right;
}

div {
    background-color: blueviolet;
}

#categoria {
    color: #F99417;
}

#ofertas {
    color: #3876BF;
    font-family: 'Graduate', serif;
}